#IzK_Screensaver {
  z-index: 1000000000000000000000000000000000000000000000000000000;
  transition: visibility 0.4s, opacity 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  display: block !important;
  cursor: none !important;
}

#IzK_Screensaver,
#IzK_Screensaver * {
  cursor: none !important;
}

#IzK_Screensaver > div.body {
  background-color: #000;
}

#IzK_Screensaver:not(.active),
#IzK_Screensaver.screensaver-disabled {
  visibility: hidden;
  opacity: 0;
}

#IzK_Screensaver > div.body img {
  position: fixed;
  width: 150px;
  height: 150px;
}
